@charset "utf-8";
@media screen and (max-width: 768px){
	body {
		background-color: #000000;
	    text-align: center;
		color:#a3a3a3;
		font-family:"Lucida Grande","Lucida Sans Unicode","Hiragino Kaku Gothic Pro","ƒqƒ‰ƒMƒmŠpƒS Pro W3","ƒƒCƒŠƒI",Meiryo,"‚l‚r ‚oƒSƒVƒbƒN",Helvetica,Arial,Verdana,sans-serif;
		font-size:12px
	}
	table {
		text-align: left;
		border-collapse: collapse;
		border-spacing:0;
		margin-left: auto;
		margin-right: auto;
		font-family:"Lucida Grande","Lucida Sans Unicode","Hiragino Kaku Gothic Pro","ƒqƒ‰ƒMƒmŠpƒS Pro W3","ƒƒCƒŠƒI",Meiryo,"‚l‚r ‚oƒSƒVƒbƒN",Helvetica,Arial,Verdana,sans-serif;
		font-size:12px;
	}
	.titleimg{
		width:60%;
	}
	.index {
		max-width:200px;
		min-width:60px;
	}
	.distributed {
		visibility: collapse;
		display:none
	}
	.date {
		visibility: collapse;
		display:none
	}
	#itunelink {
		text-shadow:2px 2px 3px #666;
		font-size:24px;
	}
}
